@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Shaked';
  src: url('/fonts/Shaked-Regular-3.ttf');
}

/* latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/indieflower/v17/m8JVjfNVeKWVnh3QMuKkFcZVaUuH99GUDg.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
html,
body,
body > div:first-child,
div#__next,
div#__next > div,
div#__next > main {
  height: 100%;
}

.game {
  background-color: cyan;
  background-image: url('../images/background-motion.svg');
  background-size: cover;

  input[type='text'],
  textarea,
  button {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    --rounded-btn: 0;
    border: none;
    border-radius: 0;
    width: 300px;
    padding: 20px;
    font-size: 1.5rem;
  }

  input[type='text'] {
    background-image: url('../images/input-text-motion.svg');
    height: 61px;
  }

  textarea {
    background-image: url('../images/textarea-motion.svg');
    height: 200px;
    resize: none;
  }

  button {
    background-image: url('../images/button-go-motion.svg');
    width: 100px;
    background-color: transparent !important;
    &[disabled] {
      opacity: 0.5;
    }
  }
}

.right-firework {
  background-image: url('../images/fireworks/right.gif');
  background-size: contain;
  height: 100vh;
  width: 20vw;
  position: absolute;
  top: 0;
  z-index: 0;
  right: -1rem;
  overflow-x: hidden;
}

.left-firework {
  background-image: url('../images/fireworks/left.gif');
  background-size: contain;
  height: 100vh;
  width: 20vw;
  position: absolute;
  top: 0;
  z-index: 0;
  left: -1rem;
  overflow-x: hidden;
}
